<%= simple_form_for @product do |f| %>
  <%= f.input :title, class: 'form-control' %>
  <%= f.input :description, as: :text, class: 'form-control' %>
  <%= f.input :price, value: @product.price, class: 'form-control', min: 1, step: :any, as: :float %>

  <%= f.input :category, collection: ['Stringers', 'T-shirts', 'Débardeurs', 'Joggings', 'Chaussures'] %>


  <%= f.label 'Sizes' %>
  <div class="form-group">
    <label class="inline">
      <%= f.collection_check_boxes :sizes, [["XS"], ["S"], ["M"], ["L"], ["XL"], ["XXL"]], :last, :first %>
    </label>
  </div>

  <%= f.label 'Colors' %>
  <div class="form-group">
    <label class="inline">
      <%= f.collection_check_boxes :colors, [["blanc"], ["gris"], ["noir"], ["bleu"], ["marron"], ["vert"]], :last, :first %>
    </label>
  </div>

  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
